 <body>
    <p>Hi {{providerFullName}},</p>
    <p>
        {{userFullName}} has made a booking{{#if isInstantBookingEnabled}}{{else}} request{{/if}} for the
        ride on <strong>{{departureDate}}</strong>
        at <strong>{{departureTime}}</strong>
        from <strong>{{rideOrigin}}</strong> to <strong>{{rideDestination}}</strong>
        for <strong>{{ridePrice}} MKD</strong>.
        Click <a href="http://localhost:5173/rides/{{rideId}}/bookings">here</a> to view all the bookings for this ride.
    </p>
</body>