<body>
<p>Hi {{userFullName}},</p>
<p>
    {{providerFullName}} has {{bookingStatusPrettyName}} your request for the ride on
    <strong>{{departureDate}}</strong>
    at <strong>{{departureTime}}</strong>
    from <strong>{{rideOrigin}}</strong> to <strong>{{rideDestination}}</strong>
    for <strong>{{ridePrice}} MKD</strong>.
    <br/>
</p>
<p>
    Best,
    <br/>
    Ride Share
</p>
</body>